
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    max-width: 65rem;
    min-width: 50rem;
    background-color: $color-background-dark;
    animation: slide-in-right-opacity linear;
    animation-duration: 0.3s;
    opacity: 0.95;
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-primary;
    border-radius: $border-radius;
    
    &__heading {
        width: 100%;
        text-align: center;
        margin: 3rem 0 3rem 0;
        letter-spacing: 4px;
        font-family: $font-display, serif;
        font-size: 4rem;
    }
    
    input {
        width: 90%;
        padding: 3rem 0 1rem 1rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $color-primary;
        color: $color-white;
        font-family: $font-normal, sans-serif;
        font-size: 1.8rem;
        letter-spacing: 1.25px;
        outline: none;

        &::placeholder {
            color: $color-white;
            font-size: 1.8rem;
            letter-spacing: 1.25px;
        }

        &:focus {
            background-color: $color-background;
        }

    }

    button {
        padding: 1.25rem 4rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        border: none;
        background-color: $color-secondary;
        color: $color-white;
        font-family: $font-normal, sans-serif;
        font-size: 2.25rem;
        letter-spacing: 1.25px;
        cursor: pointer;
        transition-duration: 0.3s;

        &:hover {
            background-color: lighten($color-background-dark, 7.5%);
        }
    }

    &__link {
        padding: 0.5rem;
        margin-bottom: 3rem;
        color: $color-white;
        transition-duration: 0.1s;
        cursor: pointer;

        &:hover { 
            color: $color-background;
            background-color: $color-white;
        }
    }
}