


.exercises-page {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    &__rep-schemes-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 2rem 2rem 0 2rem;
        overflow-y: auto;
    }
}

.exercise-search {
    flex-shrink: 0;
    width: 30rem;
    height: 100%;
    border-top: 1px solid $color-background;
    background-color: $color-background-dark;
    overflow-y: auto;

    &__search-input {
        width: 100%;
        background-color: $color-background-light;
    }
}

.exercise-search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    height: 7.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(0.95, 0.85) translateX(-2.5%);
    animation: fade-in 0.2s ease-in;

    &__image {
        height: 100%;
    }

    &__content {
        flex-grow: 1;
        padding: 1rem;
        text-align: center;
        font-size: 1.8rem;
    }

    &__meta {
        font-size: 1.3rem;
        color: $color-secondary-light;
    }

    &:hover {
        background-color: $color-primary;
        transform: scale(1);
    }

    &:active {
        background-color: $color-white;
        color: $color-background-dark;
    }
}

.rep-scheme {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
    margin: 1rem;
    border-radius: $border-radius;
    background-color: $color-background-dark;
    border-bottom: 2px solid $color-primary;
    overflow: hidden;
    box-shadow: 0px 2px 3px 3px rgba(black, 0.25);
    animation: fade-in 0.2s ease-in;
    
    &__header {
        width: 100%;
        padding: 1.5rem 2rem;
        background-color: $color-primary;
    }
    
    &__delete {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background-color: transparent;

        &:hover { background-color: $color-primary-light; }
    }

    &__name {
        font-size: 2.25rem;
        font-family: $font-normal;
    }

    &__comment-btn,
    &__history-btn, {
        background-color: transparent;
        padding: 0;
        text-decoration: underline;
        margin-right: 1rem;
        font-size: 1.2rem;
        color: $color-secondary-light;

        &:hover { background-color: transparent; }
    }

    &__sets {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 2.25rem;
    }

    &__work-set {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.25rem 1.5rem;
        border-bottom: 1px solid $color-background;
        letter-spacing: 2px;
    }

    &__weight,
    &__reps {
        max-width: 10rem;
        min-width: 5rem;
        padding: 0;
        border: none;
        font-size: inherit;
        text-align: center;
    }

    &__rpe {
        background-color: transparent;
        color: $color-secondary-light;
        padding: 0;

        &:hover { background-color: transparent; }
    }

    &__add-set {
        width: 100%;
        padding: 1rem 0 1rem 3.5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: $color-background-dark;
        color: $color-background-light;
        text-align: left;
        font-size: 2rem;
        letter-spacing: 3px;
        transition-duration: 0.3s;

        &:hover {
            color: $color-white;
            background-color:  transparent;
        }
    }
}