
.home {
    @include screen;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: url("../images/valley.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 22.5rem;
        height: 100%;
        min-height: 60rem;
        background-color: $color-background-dark;
        opacity: 0.95;
        border-right: 1rem solid $color-primary;
    }

    &__page-container {
        width: calc(100% - 25rem);
        display: flex;
        justify-content: center;
        padding-top: 2.5rem;
    }

    &__picture-credit {
        position: absolute;
        bottom: 2.5rem;
        right: 2.5rem;
        padding: 0.5rem 1rem;
        color: $color-white;
        text-decoration: none;
        transition-duration: 0.1s;

        &:hover {
            background-color: $color-background-light;
        }
    }

    &__button {
        width: 100%;
        padding: 4rem;
        border: none;
        background-color: transparent;
        color: $color-white;
        font-family: $font-normal;
        font-size: 2.5rem;
        letter-spacing: 2px;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.2s;
        
        &:hover {
            background-color: rgba($color-background-light, 0.5);
        }
    }
}