.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    width: 100vw;
    background-color: $color-background-dark;

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button-left {
        border-radius: 0;
        border-right: 1px solid $color-white;
        padding: 0.1rem 1rem;
        background-color: transparent;
        font-size: 1.4rem;
        outline: none;

        &:hover {
            background-color: rgba(255,255,255, 0.1);
        }

        &:active {
            background-color: $color-white;
            color: $color-background-dark;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    &__button-right {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0.4rem 0.75rem;
        font-size: 1.5rem;
        outline: none;

        &:first-of-type {
            border-left: none;
        }
    }

    &__button-icon {
        margin-left: 0.5rem;   
    }

    &__message-icon{ 
        font-size: 1.65rem;
    }

    &__logo {
        position: absolute;
        left: calc(50%);
        transform: translateX(-50%);
        opacity: 0.15;
        color: $color-white;
        font-family: $font-display;
        letter-spacing: 2px;
    }
}