@keyframes slide-in-right {
  0% {
    transform: translateX(-5%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right-opacity {
  0% {
    transform: translateX(-5%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 0.95; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #263238;
  color: #CFD8DC;
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  font-family: "Jura", sans-serif; }

.App {
  height: 100vh;
  width: 100vw; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Audiowide"; }

h1 {
  letter-spacing: 4px; }

h2 {
  letter-spacing: 2.5px; }

h3 {
  letter-spacing: 2px; }

input {
  padding: 2rem 1rem 1rem 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #303F9F;
  color: #CFD8DC;
  font-family: "Jura", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1.25px;
  outline: none; }
  input::placeholder {
    color: #CFD8DC;
    font-size: 1.8rem;
    letter-spacing: 1.25px; }
  input:focus {
    background-color: #455A64; }

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #263238;
  color: #CFD8DC;
  font-family: "Jura";
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  border-radius: 2.5px;
  transition-duration: 0.2s;
  cursor: pointer; }
  button:hover {
    background-color: #455A64; }
  button:active {
    background-color: #728f9d; }

a {
  color: #CFD8DC;
  transition-duration: 0.2s;
  cursor: pointer; }
  a:hover {
    color: #263238;
    background-color: #CFD8DC; }

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  width: 100vw;
  background-color: #11171a; }
  .navbar__left {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar__button {
    border-radius: 0;
    border-left: 1px solid #CFD8DC;
    padding: 0.1rem 1rem;
    background-color: transparent;
    font-size: 1.4rem;
    outline: none; }
    .navbar__button:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .navbar__button:active {
      background-color: #CFD8DC;
      color: #11171a; }
    .navbar__button:first-of-type {
      border-left: none; }
  .navbar__logo {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    opacity: 0.15;
    color: #CFD8DC;
    font-family: "Audiowide";
    letter-spacing: 2px; }

.home {
  height: calc(100% - 4rem);
  width: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../images/valley.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .home__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 22.5rem;
    height: 100%;
    min-height: 60rem;
    background-color: #11171a;
    opacity: 0.95;
    border-right: 1rem solid #303F9F; }
  .home__page-container {
    width: calc(100% - 25rem);
    display: flex;
    justify-content: center;
    padding-top: 2.5rem; }
  .home__picture-credit {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none; }
  .home__button {
    width: 100%;
    padding: 4rem;
    background-color: transparent;
    font-size: 2.5rem;
    letter-spacing: 2px;
    outline: none; }
    .home__button:hover {
      background-color: rgba(69, 90, 100, 0.5); }
  .home__logo {
    display: inline-block;
    width: calc(100% - 2rem);
    padding: 1rem 0;
    font-size: 4rem;
    letter-spacing: 4px;
    color: #303F9F;
    border: 0.25rem solid #303F9F; }
    .home__logo-container {
      width: 100%;
      padding: 1rem 0;
      text-align: center; }

.tracker {
  height: calc(100% - 4rem);
  width: 100%;
  overflow-y: auto; }

.tracker-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  border-top: 1px solid #263238;
  background-color: #11171a; }
  .tracker-nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .tracker-nav__left button {
      margin-right: 1.5rem; }
  .tracker-nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tracker-nav__date {
    margin-right: 1rem;
    letter-spacing: 2px;
    background-color: transparent; }
    .tracker-nav__date:hover {
      background-color: #CFD8DC;
      color: #11171a; }

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  max-width: 65rem;
  min-width: 50rem;
  background-color: #11171a;
  animation: slide-in-right-opacity linear;
  animation-duration: 0.3s;
  opacity: 0.95;
  border-bottom: 5px solid #303F9F;
  border-top: 5px solid #303F9F;
  border-radius: 2.5px; }
  .auth-form__heading {
    width: 100%;
    text-align: center;
    margin: 3rem 0 3rem 0;
    letter-spacing: 4px;
    font-size: 4rem; }
  .auth-form input {
    width: 90%;
    padding: 3rem 0 1rem 1rem; }
    .auth-form input:focus {
      background-color: #263238; }
  .auth-form button {
    padding: 1.25rem 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #00838F;
    font-size: 2.25rem;
    transition-duration: 0.3s; }
    .auth-form button:hover {
      background-color: #212b30; }
  .auth-form__link {
    padding: 0.5rem;
    margin-bottom: 3rem; }

.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100000000; }
  .modal__clickzone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    height: 100%;
    width: 100%; }
  .modal__default-prompt {
    position: relative;
    background-color: #263238;
    border-bottom: 3px solid #303F9F;
    border-radius: 2.5px;
    width: 60rem;
    padding: 5rem 0;
    text-align: center; }
    .modal__default-prompt__close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.75rem 1rem;
      color: #CFD8DC;
      border: none;
      border-radius: 1000px;
      background-color: #303F9F;
      transition-duration: 0.1s;
      cursor: pointer; }
      .modal__default-prompt__close:hover {
        background-color: #CFD8DC;
        color: #303F9F; }
