@keyframes slide-in-right {
  0% {
    transform: translateX(-5%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right-opacity {
  0% {
    transform: translateX(-5%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 0.95; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #263238;
  color: #CFD8DC;
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  font-family: "Jura", sans-serif; }

.App {
  height: 100vh;
  width: 100vw; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Audiowide"; }

h1 {
  letter-spacing: 4px; }

h2 {
  letter-spacing: 2.5px; }

h3 {
  letter-spacing: 2px; }

input {
  padding: 2rem 1rem 1rem 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #303F9F;
  color: #CFD8DC;
  font-family: "Jura", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1.25px;
  outline: none; }
  input::placeholder {
    color: #CFD8DC;
    font-size: 1.8rem;
    letter-spacing: 1.25px; }
  input:focus {
    background-color: #455A64; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #263238;
  color: #CFD8DC;
  font-family: "Jura";
  font-size: 1.6rem;
  letter-spacing: 1.25px;
  border-radius: 2.5px;
  transition-duration: 0.2s;
  cursor: pointer; }
  button:hover {
    background-color: #455A64; }
  button:active {
    background-color: #728f9d; }

a {
  color: #CFD8DC;
  transition-duration: 0.2s;
  cursor: pointer; }
  a:hover {
    color: #263238;
    background-color: #CFD8DC; }

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  width: 100vw;
  background-color: #11171a; }
  .navbar__left {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar__button {
    border-radius: 0;
    border-left: 1px solid #CFD8DC;
    padding: 0.1rem 1rem;
    background-color: transparent;
    font-size: 1.4rem;
    outline: none; }
    .navbar__button:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    .navbar__button:active {
      background-color: #CFD8DC;
      color: #11171a; }
    .navbar__button:first-of-type {
      border-left: none; }
  .navbar__logo {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
    opacity: 0.15;
    color: #CFD8DC;
    font-family: "Audiowide";
    letter-spacing: 2px; }

.home {
  height: calc(100% - 4rem);
  width: 100%;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../images/valley.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .home__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17.5rem;
    height: 100%;
    min-height: 60rem;
    background-color: #11171a;
    opacity: 0.95;
    border-right: 1rem solid #303F9F; }
  .home__page-container {
    width: calc(100% - 17.5rem);
    display: flex;
    justify-content: center;
    padding-top: 2.5rem; }
  .home__picture-credit {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none; }
  .home__button {
    width: 100%;
    padding: 3rem;
    background-color: transparent;
    font-size: 1.75rem;
    letter-spacing: 2px;
    outline: none; }
    .home__button:hover {
      background-color: rgba(69, 90, 100, 0.5); }
  .home__logo {
    display: inline-block;
    width: calc(100% - 2rem);
    padding: 0.5rem 0;
    font-size: 4rem;
    letter-spacing: 4px;
    color: #303F9F;
    border: 0.25rem solid #303F9F; }
    .home__logo-container {
      width: 100%;
      padding: 1rem 0;
      text-align: center; }

.tracker {
  height: calc(100% - 4rem);
  width: 100%;
  overflow-y: auto;
  overflow: hidden; }
  .tracker__page-container {
    height: calc(100% - 4rem);
    width: 100%; }

.tracker-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  border-top: 1px solid #263238;
  border-bottom: 1px solid #263238;
  background-color: #11171a; }
  .tracker-nav__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .tracker-nav__left button {
      margin-right: 1.5rem; }
  .tracker-nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tracker-nav__date {
    width: 15rem;
    padding: 0.25rem 0;
    border-bottom: none;
    background-color: #263238;
    color: #CFD8DC;
    border-radius: 2.5px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer; }
    .tracker-nav__date:hover {
      background-color: #455A64; }
    .tracker-nav__date:focus {
      background-color: #455A64; }

.exercises-page {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%; }
  .exercises-page__rep-schemes-overflow-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll; }
  .exercises-page__rep-schemes-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: auto; }
  .exercises-page__no-rep-schemes {
    margin-top: 10rem;
    color: #11171a;
    animation: fade-in 0.2s ease-in; }

.exercise-search {
  flex-shrink: 0;
  width: 30rem;
  height: 100%;
  background-color: #11171a;
  border-right: 1px solid #455A64; }
  .exercise-search__search-input {
    width: 100%;
    background-color: #455A64;
    border-bottom: none; }
    .exercise-search__search-input::placeholder {
      text-align: center; }
  .exercise-search__kind-toggle {
    height: 2.5rem;
    width: 100%;
    color: #455A64;
    background-color: transparent;
    border-bottom: 1px solid #263238;
    border-radius: 0;
    font-size: 1.4rem; }
    .exercise-search__kind-toggle:hover {
      background-color: #263238; }
  .exercise-search__kind-filters-close {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1.2rem;
    color: #455A64;
    cursor: pointer; }
  .exercise-search__bodypart-filters, .exercise-search__kind-filters {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-bottom: 1px solid #263238; }
  .exercise-search__bodypart-filters {
    padding-bottom: 0;
    border-bottom: none; }
  .exercise-search__bodypart, .exercise-search__kind {
    margin: 0.5rem;
    padding: 0.15rem 0.5rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid #455A64;
    border-radius: 5px;
    color: #455A64;
    outline: none; }
    .exercise-search__bodypart:hover, .exercise-search__kind:hover {
      background-color: rgba(38, 50, 56, 0.5); }
  .exercise-search__results-container {
    height: calc(100% - 15rem);
    overflow-y: scroll; }

.exercise-search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #263238;
  height: 7.5rem;
  cursor: pointer;
  transition-duration: 0.2s;
  transform: scale(0.95, 0.9);
  animation: fade-in 0.2s ease-in; }
  .exercise-search-result__image {
    height: 100%; }
  .exercise-search-result__content {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem; }
  .exercise-search-result__meta {
    font-size: 1.3rem;
    color: #00b2c2; }
  .exercise-search-result:hover {
    background-color: #303F9F;
    transform: scale(1); }
  .exercise-search-result:active {
    background-color: #CFD8DC;
    color: #11171a; }

.rep-scheme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  margin: 1rem;
  border-radius: 2.5px;
  background-color: #11171a;
  border-bottom: 2px solid #303F9F;
  overflow: hidden;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
  animation: fade-in 0.2s ease-in; }
  .rep-scheme__header {
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #303F9F; }
  .rep-scheme__delete {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    color: #5161ca;
    border-radius: 1000px;
    cursor: pointer; }
  .rep-scheme__name {
    font-size: 2.25rem;
    font-family: "Jura"; }
  .rep-scheme__comment-btn, .rep-scheme__history-btn {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #00b2c2; }
    .rep-scheme__comment-btn:hover, .rep-scheme__history-btn:hover {
      background-color: transparent; }
  .rep-scheme__comment {
    display: flex;
    width: 100%;
    padding: 1rem; }
    .rep-scheme__comment textarea {
      flex-grow: 1;
      background-color: transparent;
      border: 1px solid rgba(207, 216, 220, 0.5);
      border-radius: 2.5px;
      color: #CFD8DC;
      padding: 0.5rem;
      font-size: 1.4rem;
      font-family: "Jura";
      letter-spacing: 1px; }
  .rep-scheme__sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2.25rem; }
  .rep-scheme__work-set {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.25rem 1rem 1.25rem 1rem;
    border-bottom: 1px solid #263238;
    letter-spacing: 2px; }
    .rep-scheme__work-set__delete {
      opacity: 0;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      background-color: transparent;
      color: #455A64;
      font-size: 1.2rem;
      transition-duration: 0.3s;
      cursor: pointer; }
      .rep-scheme__work-set__delete:hover {
        background-color: transparent; }
    .rep-scheme__work-set:hover > svg {
      opacity: 1; }
  .rep-scheme__weight, .rep-scheme__reps, .rep-scheme__rpe {
    max-width: 10rem;
    min-width: 5rem;
    padding: 0;
    border: none;
    font-size: inherit;
    text-align: center; }
  .rep-scheme__rpe {
    width: 1rem;
    color: #00b2c2;
    cursor: pointer; }
    .rep-scheme__rpe:hover {
      background-color: transparent; }
    .rep-scheme__rpe:focus {
      background-color: transparent; }
    .rep-scheme__rpe::placeholder {
      color: #00b2c2;
      text-align: center; }
  .rep-scheme__add-set {
    width: 100%;
    padding: 1rem 0 1rem 3.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #11171a;
    color: #455A64;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 3px;
    transition-duration: 0.3s; }
    .rep-scheme__add-set:hover {
      color: #CFD8DC;
      background-color: transparent; }

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  max-width: 65rem;
  min-width: 50rem;
  background-color: #11171a;
  animation: slide-in-right-opacity linear;
  animation-duration: 0.3s;
  opacity: 0.95;
  border-bottom: 5px solid #303F9F;
  border-top: 5px solid #303F9F;
  border-radius: 2.5px; }
  .auth-form__heading {
    width: 100%;
    text-align: center;
    margin: 3rem 0 3rem 0;
    letter-spacing: 4px;
    font-size: 4rem; }
  .auth-form input {
    width: 90%;
    padding: 3rem 0 1rem 1rem; }
    .auth-form input:focus {
      background-color: #263238; }
  .auth-form button {
    padding: 1.25rem 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #00838F;
    font-size: 2.25rem;
    transition-duration: 0.3s; }
    .auth-form button:hover {
      background-color: #212b30; }
  .auth-form__link {
    padding: 0.5rem;
    margin-bottom: 3rem; }

.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100000000;
  animation: fade-in 0.1s ease-in; }
  .modal__clickzone {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    height: 100%;
    width: 100%; }
  .modal__default-prompt {
    position: relative;
    background-color: #263238;
    border-bottom: 3px solid #303F9F;
    border-radius: 2.5px;
    width: 60rem;
    padding: 5rem 2rem;
    text-align: center; }
    .modal__default-prompt__close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer; }
